.client {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.client__list {
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}

.client__list-cust {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.client__item {
  @media screen and (max-width: 767px) {
    width: 210px;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}


.client__link {
  height: 90px;
  display: flex;
  border: 1px solid var(--social-link);
  border-radius: 4px;
  color: var(--social-link);
  background-color: var(--main-background-color);
  justify-content: center;
  align-items: center;
  transition: border-color var(--trancition-timing),
    color var(--trancition-timing);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
    border-color: var(--accent-text-color);
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.client__icon {
  fill: currentColor;
}