.direction {
  padding-bottom: 94px;
}

.direction__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);

  margin-bottom: 50px;
}

.direction-list {
  display: flex;
}

.direction-list__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.direction-list__text {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-background-color);
  background-color: rgba(47, 48, 58, 0.8);
}