.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--hero-and-footer-bg-color);
}



.footer-adress {
  margin-top: 20px;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer-adress__location-item {
  margin-top: 9px;
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-background-color);

  &:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 8px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
}

.footer-container {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__contacts {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 76px;
    margin-right: 165px;
  }
}

.footer-adress__mail-tel-item {
  margin-top: 9px;
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--adress-color);

  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}


.footer-adress__location-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color var(--trancition-timing);

  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

.footer-adress__mail-tel-link {
  transition: color var(--trancition-timing);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-social__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-background-color);
}

.footer-social {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-left: 70px;
  }
}

.footer-social__list {
  display: flex;
  gap: 10px;
}

.footer-social__item {
  width: 44px;
  height: 44px;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
  color: var(--main-background-color);
  background-color: #ffffff10;
  align-items: center;
  justify-content: center;
  transition: background-color var(--trancition-timing);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}

.footer-social__icon {
  fill: currentColor;
}

/* --------- footer input-------- */

.footer-input {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: auto;
    width: 450px;
  }
}

.footer-input__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
}

.footer-input__form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.footer-input__email {
  height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: var(--main-background-color);
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (max-width: 479px) {
    width: calc(100% - 30px);
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
  }

}

.footer-input__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
  background-color: var(--accent-text-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}

.footer-input__icon-send {
  margin-left: 10px;
  fill: var(--main-background-color);
}