.header {
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header-nav__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 767px) {
    max-width: 767px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
  margin-left: 93px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.header-nav__link.current {
  color: var(--accent-text-color);

  &::after {
    position: absolute;

    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;

    background-color: var(--accent-text-color);
  }

}

.header-contact__list {
  display: flex;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    align-content: center;
  }
}

.header-contact__item+.header-contact__item {
  margin-left: 50px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 0px;
  }
}

.header-contact__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 0px;
  }
}

.header-contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--other-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color var(--trancition-timing);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

// Mobile menu

.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--main-background-color);
  top: 0;
  right: 0;
  padding: 15px 10px 48px 40px;
  z-index: 999;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: var(--main-text-color);
  border: none;
  margin-left: auto;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-close {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  color: var(--main-text-color);
  border: none;
  margin-left: auto;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
  }
}


.mob-menu-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu-list__link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--main-text-color);

  &:focus,
  &:hover {
    color: var(--accent-text-color);
  }

  &--current {
    color: var(--accent-text-color);
  }
}

.mob-menu-list__tell {
  display: block;
  margin-bottom: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-text-color)
}

.mob-menu-list__mail {
  display: block;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--other-text-color);

  margin-bottom: 64px;
}

.mob-menu-list__social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  column-gap: 20px;
}

.mob-menu-list__social-item {
  position: relative;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--accent-text-color);

  &:not(:first-child)::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -10px;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
  }

}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}