.hero {
  background-color: var(--hero-and-footer-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1480px;
  // min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/hero-mobile2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("../images/hero-tablet.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("../images/hero-tablet2x.jpg");
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("../images/hero-desctop.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("../images/hero-desctop2x.jpg");
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 0px;

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
  }



}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 18px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);

  @media screen and (min-width: 480px) {
    font-size: 26px;
    max-width: 360px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    max-width: 360px;
    line-height: 1.36;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
  }

}

.hero__btn {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--main-background-color);
  background-color: var(--accent-text-color);
  transition: background-color var(--trancition-timing),
    color var(--trancition-timing);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }

  @media screen and (min-width: 480px) {
    padding: 10px 32px;
    font-size: 16px;
    min-width: 200px;
  }
}