.team {
  background: var(--team-background-color);
  padding-top: 60px;
  padding-bottom: 60px;


  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}

.team-list__item {
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;



  // @media screen and (max-width: 479px) {
  //   width: 270px;
  // }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    // &:not(:last-child) {
    //   margin-right: 30px;
    // }

  }

}

.team-list__workers {
  padding: 30px 0px;
}

.team-list__name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-list__profession {
  margin-top: 10px;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--other-text-color);
}

.team-list__social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.team-list__social-link {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
  color: var(--social-link);
  background-color: var(--main-background-color);
  justify-content: center;
  align-items: center;
  transition: background-color var(--trancition-timing),
    color var(--trancition-timing);

  &:hover,
  &:focus {
    color: var(--main-background-color);
    background-color: var(--accent-text-color);
  }
}

.team-list__social-icon {
  fill: currentColor;
}