.team {
  background: var(--team-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list__item {
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list__workers {
  padding: 30px 0px;
}

.team-list__name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-list__profession {
  margin-top: 10px;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--other-text-color);
}

.team-list__social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.team-list__social-link {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
  color: var(--social-link);
  background-color: var(--main-background-color);
  justify-content: center;
  align-items: center;
  transition: background-color var(--trancition-timing),
    color var(--trancition-timing);

  &:hover,
  &:focus {
    color: var(--main-background-color);
    background-color: var(--accent-text-color);
  }
}

.team-list__social-icon {
  fill: currentColor;
}