.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity var(--trancition-timing),
    visibility var(--trancition-timing);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  width: 320px;
  height: 581px;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  transform: scale(1);
  transition: transform var(--trancition-timing);

  @media screen and (min-width: 480px) {
    width: 450px;
    min-height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}

.form {
  padding: 40px;


  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 10px;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  &-coment {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--other-text-color);
    margin-bottom: 4px;
  }
}

.form__input {
  width: 100%;
  margin: 0;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--trancition-timing);

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-text-color);
  }

  &-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(20%);
    display: inline-block;
    width: 18px;
    height: 13px;
    transition: fill var(--trancition-timing);
  }

  &:hover~.form__input-icon,
  &:focus~.form__input-icon {
    fill: var(--accent-text-color);
  }
}


textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  height: 120px;
  transition: border-color var(--trancition-timing);

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-text-color);
  }
}



.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-chek {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.form__field-comment {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__field-chek {
  padding-left: 0px;
  margin-top: 25px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    padding-left: 14px;
  }
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);

  &:checked+.modal-chek {
    background-image: url(../images/modal-check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--accent-text-color);
    background-origin: border-box;
    border-color: var(--accent-text-color);
  }

  &:focus+.modal-chek {
    box-shadow: 0 0 0 0.1em var(--hover-color);
  }
}


.policy-label {
  // position: relative;
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 1.14;
  color: var(--other-text-color);

  @media screen and (max-width: 479px) {
    font-size: 10px;
    line-height: 1.11;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy-link {
  margin-left: 3px;
  color: rgba(33, 150, 243, 1);

  &:hover,
  &:focus {
    color: var(--hover-color);
  }

  @media screen and (max-width: 479px) {
    position: absolute;
    top: 18px;
    left: 21px;
  }
}



.form__btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 56px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--main-background-color);
  transition: background-color var(--trancition-timing);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}


.form__btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:focus &-icon,
  &:hover &-icon {
    fill: var(--accent-text-color);
  }

  &-icon {
    fill: #000;
    transition: fill var(--trancition-timing);
  }
}