.body {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-size: 14px;
  --trancition-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
