:root {
  /* -------------fonts------------- */
  --main-font: 'Roboto', sans-serif;
  --secondary-fonts: 'Raleway';

  /* -------------text colors------------- */
  --main-text-color: #212121;
  --other-text-color: #757575;
  --accent-text-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);

  /* -------------bg colors------------- */
  --main-background-color: #ffffff;
  --hero-and-footer-bg-color: #2f303a;
  --team-background-color: #f5f4fa;

  /* -------------others------------- */
  --adress-color: #ffffff99;
  --credo-color: #e5e5e5;
  --hover-color: #188ce8;
  --social-link: #afb1b8;

  --trancition-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}